.margin0{ margin: 0;}
.padding0{ padding: 0;}
.notificationContainer{
    width: 35%;
    margin: 50px auto;
    border-radius: 10px;
    background-color: #dedede;
    -webkit-box-shadow: 6px 9px 10px 0px rgba(245,240,245,0.51);
    -moz-box-shadow: 6px 9px 10px 0px rgba(245,240,245,0.51);
    box-shadow: 6px 9px 10px 0px rgba(245,240,245,0.51);

    .headingBlock{
        height: 60px;
        background-color: #1d2033;
        border-radius: 10px 10px 0 0;

        .blockTitle{
            color: #fff;
            font-size: 20px;
            text-align: left;
            margin: 18px 15px;
        }
    }
    

    .btn{
        :focus{
            box-shadow: none;
            border: none;
            outline: none;
        }
    }
    .btn-primary{
        border: none;
        :hover {
            border: none;
            box-shadow: none;
        }
        :focus {
            border: none;
            box-shadow: none;
            outline: none;
        }

    }
    .notificationBlock{
        padding: 0;
        background-color: #32364f;
        color: #fff;
        text-align: left;
        font-size: 12px;

        .notification-list{
            margin: 0;
            padding: 0;

            .list-item{
                list-style: none;
                border-bottom: 1px solid #3c4059;

                .flag-btn{
                    padding: 8px 20px 8px 0; 
                    .flag-new{
                        padding: 3px 10px;
                        background-color: #90c445;
                        border-radius: 5px;
                        float: right;
                    }
                }
                article.notify-data{
                    padding-bottom: 20px;
                    .notify-row{
                        padding: 0 15px;
                        .userImage{
                            border: 1px solid #3c4059;
                            border-radius: 50%;
                            margin: 0 15px;
                        }
                        p{
                            margin-right: 10px;
                        }
                    }

                    .timestamp-container{
                        padding: 0 12px 0 0;
                        .timestamp{
                            float: right;
                        }
                    }
                }
            }
            .list-item:hover{
                    background-color: #3e4363;
            }
        }

    }

    .btn-profile{
        margin: 0;
        padding: 15px 0;
        background-color: #838bfa;
        border-radius: 0 0 10px 10px;
    }
}